body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    margin: none;
}

a {
    color: red;
}

.bigbig {
    font-size: 1600%;
}

.big {
    font-size: 325%
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}