@font-face {
    font-family: openLight;
    src: url(/fonts/Open_Sans/OpenSans-Light.ttf);
}

body {
    font-family: openLight;
    margin: 0vw;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.hero-image {
    background: url(/imgs/heroImage.JPG);
    height: 48vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

.footer-text {
    color: white;
    margin: 0.5vw;
}