@font-face {
    font-family: openLight;
    src: url(/fonts/Open_Sans/OpenSans-Light.ttf);
}

body {
    font-family: openLight;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

.footer-text {
    color: white;
    margin: 0.5vw;
}