@font-face {
    font-family: openLight;
    src: url(/fonts/Open_Sans/OpenSans-Light.ttf);
}

body {
    font-family: openLight;
    font-size: 1.3vw;
    margin: 0vw;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    margin-bottom: 3vw;
}

img {
    width: 23vw;
    border-radius: 0.75vw;
    float: right;
    position: relative;
    top: 7vw;
    right: 4vw;
}

ol {
    width: 28vw;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: red;
}

a:visited {
    color: rgb(0, 0, 173);
}

table {
    table-layout: fixed;
    width: 98%;
}

td {
    width: 12.25%;
    height: 3vw;
    word-wrap: break-word;
    text-align: left;
    vertical-align: top;
    padding: 0.4vw;
    font-size: 1vw;
    color: white;
}

.hero-image {
    background: url(/imgs/heroImage.JPG);
    height: 50.2vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 0.5vw solid white;
    margin-bottom: 4vw;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}

.main {
    background-color: white;
    border: 0.8vw double black;
    border-radius: 1vw;
    padding: 0vw 2vw 1vw 3vw;
    margin: 1vw 14vw 3.8vw 14vw;
    text-align: left;
    color: black;
}

.p-limerick {
    margin-left: 3vw;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.titleRow {
    text-align: center;
    vertical-align: bottom;
    color: black;
    font-weight: bold;
    font-size: 1.3vw;
    border-bottom: 0.1vw solid gray;
}

.firstHrColumn {
    text-align: right;
    color: black;
    font-size: 1.3vw;
}

.hourColumn {
    text-align: right;
    border-top: 0.1vw solid gray;
    color: black;
    font-size: 1.3vw;
}

.workout {
    background-color: red;
    border-radius: 0.5vw;
}

.work {
    background-color: rgb(39, 39, 139);
    border-radius: 0.5vw;
}

.math1210 {
    background-color: rgb(0, 153, 255);
    border-radius: 0.5vw;
}

.cs2300 {
    background-color: rgb(215, 113, 255);
    border-radius: 0.5vw;
}

.cs2810 {
    background-color: green;
    border-radius: 0.5vw;
}

.cs2550 {
    background-color: rgb(245, 180, 0);
    border-radius: 0.5vw;
}